*{
margin:0;
padding:0;
box-sizing:border-box;/*it will the assigned size not onlythe content but padding border*/
}
body{
width:100vw;
height:100vh;
}
.main-box{
width:100%;
height:100%;
background-color:rgba(11,20,23,255);
}
.sub-name-profile-img{
width:100%;
height:auto;
background-color:rgba(26,39,45,255);
display:flex;
flex-wrap:wrap;
}
.profile-img{
width:10vw;
height:10vw;
background-color:rgb(0,0,0);
border-radius:10vw;
margin:1.5vw;
}
.sub-name{
color:rgb(255,255,255);
font-size:2rem;
margin-top:4vw;
margin-left:2vw;
text-decoration:none;
}

.text-container{
width:100%;
min-height:auto;
outline:4px solid rgb(127,127,127);
background-color:rgba(26,39,45,255);
display:flex;
flex-wrap:wrap;
flex-direction:column;
}
.title-container{
background-color:rgba(26,39,45,255);
margin-left:1.5vh;
margin-right:3vh;
margin-bottom:3vh;
/*overflow:visible;*/
/*order:1;*/
}
.text{
font-style:arial;
font-size:3rem;
color:rgb(255,255,255);
}
.image-container{
position:relative;
max-width:100%;
height:auto;
margin-top:3vh;
background-color:rgb(0,0,0);
outline:0.3vw solid rgb(127,127,127);
margin-left:3%;
margin-right:3%;
border-radius:7%;
}
.meme-image{
width:100%;
height:100%;
border-radius:7%;
vertical-align: bottom;
}

/*for the buttons and comments*/

.buttons-and-comment-box{
background-color:rgba(11,20,23,255);
max-width:100%;
height:auto;
margin-top:8%;
margin-left:3%;
margin-right:3%;
display:flex;
flex-diraction:row;
flex-wrap:wrap;
justify-content:space-between;
}
.up-down-button-box{
background-color:rgba(26,39,45,255);
max-width:100%;
height:auto;
border-radius:5vw;
outline:0.5vw solid gray;
display:flex;
flex-diraction:row;
flex-wrap:wrap;
justify-content:space-evenly;
align-items:center;

}/*this will conatain both the up and down images */
.comment-button-box{
background-color:rgba(26,39,45,255);
width:35vw;
height:auto;
border-radius:5vw;
outline:0.5vw solid gray;
display:flex;
flex-diraction:row;
flex-wrap:wrap;
justify-content:center;
align-items:center;
}/*this will conatain comment img*/

.up-button-img-box{
background-color:rgba(26,39,45,255);
width:20%;
height:100%;
}
.total-up-vote{
font-size:2rem;
color:white;

}
.down-button-img-box{
background-color:rgba(26,39,45,255);
width:20%;
height:100%;
transform:rotate(180deg);
}
.up-down-arrow{
width:100%;
height:100%;
/*border-radius:7%;*/
vertical-align: bottom;
}
.comment-img-box{
background-color:rgba(26,39,45,255);
width:30%;
height:70%;
}

.up-down-button-box:active{
  box-shadow: 0vw 0vh 80px rgba(234, 10, 9, 0.5);
}

